body {
	background-color: #d7efc7;
	font-family: 'Ubuntu Condensed';
	padding: 30px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Josefin Sans';
	color: #304000;
	margin: 0;
}

p {
	font-size: 18px;
}

button, input[type=button] {
	font-family: 'Josefin Sans';
	font-size: 20px;
	font-weight: bold;
	background-color: #94d369;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 12px;
	margin: 0 10px 0 0;
}

button:hover, input[type=button]:hover {
	background-color: #79c844;
}

button:disabled, input[type=button]:disabled {
	opacity: 0.5;
}

select, input[type=number], input[type=range], input[type=text], label, span {
	padding: 12px;
	font-size: 18px;
}

label {
	clear: both;
}

p.success {
	display: inline;
	border-bottom: 3px solid #79c844;
}

footer div {
	box-sizing: border-box;
	display: block;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: right;
	background-color: #fff;
	padding: 6px 6px 6px 0;
}

#csv_loaded, #write_results {
	margin: 10px 0;
	display: none;
}

iframe#d_content {
	display: none;
}

div.form {
	width: auto;
	margin: 2px;
	padding: 10px;
}

p.entry {
	display: table;
    margin:auto;
	color: #324200;
	text-decoration: underline;
	margin: 0 0 5px;
	cursor: pointer;
}

p.entry:hover {
	color: #000;
}

#format + span > sup {
	color: white;
	background: #8c0000;
	border-radius: 3px;
	border: 0;
	padding: 2px;
	font-size: 60%;
}